<?xml version="1.0"?>
<launch>
 <!-- Parametri di Gazebo -->
<param name ="/use_sim_time" value="true"/>
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find mybot_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mybot_gazebo)/worlds/localization_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/>

  <!-- Nodo di Gazebo -->
  <node name="mybot_spawn" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        output="screen"
        args="-urdf -param robot_description -model mybot" />


  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Nodo di RViz  -->
  <node name="rviz" 
        pkg="rviz"
        type="rviz" 
        args="-d $(find mybot_ekf_localization)/rviz/amcl2.rviz"/>

  <!-- Nodo di gmapping  -->
  <node name="slam_gmapping" 
        pkg="gmapping"
        type="slam_gmapping" 
        args="scan:=mybot/laser/scan"/>

</launch>
